:root {
  --bg-color: #1e1e1e;
  --text-color: #eaeaea;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: var(--text-color);
}

html {
  background-color: var(--bg-color);
}

button {
  all: unset;
}

h1 {
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}

p {
  font-size: 15px;
  line-height: 23px;
  max-width: 621px;
}

img {
  border-radius: 4px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
